<h1>Services</h1>
<h2>Feeders</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @statuses.each do |status| %>
      <tr>
        <td><%= status[0] %></td>
        <td><%= status[1] %></td>
        <td><% if status[1] == :running %>
			<%= link_to 'Stop', '/services/'+status[0], method: :delete, data: { confirm: 'Are you sure?' } %>
			<% else %>
			<%= link_to 'Start', '/services/'+status[0], method: :put %>
			<% end %>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>