<h1>Services</h1>
<h2>Feeders</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @statuses.each do |status| %>
      <% if status[1] == :running %>
      <tr class="success">
        <td><%= status[0] %></td>
        <td>Running</td>
		<td><%= link_to 'Stop', '/services/'+status[0], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% else %>
	  <tr class="danger">
		<td><%= status[0] %></td>
        <td>Stopped</td>
		<td><%= link_to 'Start', '/services/'+status[0], method: :put %></td>
	  </tr>
	  <% end %>
   <% end %>
  </tbody>
</table>
<br>