<h1>Listing trackpoints</h1>

<table id="trackpoints-table">
  <tr>
    <th>Device</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Elevation</th>
    <th>Time</th>
    <th>Velocity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Trackpoint</a>